
# Created by https://www.gitignore.io/api/terraform

### Terraform ###

# Module directory
.terraform/

# .tfvars files
*.tfvars


# End of https://www.gitignore.io/api/terraform
.ssh_key
.venv
bin/
